@{
    ViewBag.Title = "About";
}
@if (ViewBag.WordDocumentMode == null || !ViewBag.WordDocumentMode)
{
<h3>@ViewBag.Title</h3>
<h2>@ViewBag.Message</h2>
}
@Html.ActionLink("Save To Word", "AboutDocument", "Home")
<p>Use this area to provide additional information.</p>
